blinker==1.6.2
click==8.1.3
colorama==0.4.6
Cython==0.29.34
find-libpython==0.3.0
Flask==2.3.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.1
pynput==1.7.6
pyqt-frameless-window==0.0.85
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pywin32==306
QDarkStyle==3.1
QtPy==2.3.1
six==1.16.0
Werkzeug==2.3.3
